.footer-container
    background-color: #222121;
    color: white;

.footer-container .logo
    display: flex;
    justify-content: center;
    align-items: flex-end;
    h3
        margin-right: 10px;

.social a 
    padding: .5em .5em .3em;
    border-radius: 1em;
    background-color: #f5f5f5;
    margin: .5em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline;

